---
layout: page
title: Mindfulness conferences
main_image_path:
main_nav: false
style: events
sidebar: events-sidebar.html
event:
  - date: 30 June 2017
    title: Sussex Mindfulness Centre annual conference
    organiser: 'Ruth Baer, Willoughby Britton'
    description_markdown:
    booking_url: 'https://www.eventbrite.co.uk/e/sussex-mindfulness-centre-annual-conference-tickets-29049574058'
    flyer_path:
---
<section class="main-content with-sidebar">

<div class="intro editable"><p>5th SMC Annual Conference</p><p>30 June 2017, 9.15am-4.30pm, at the Friends Meeting House, Ship Street, Brighton, BN1 1AF. Topic: &nbsp;"A critical look at mindfulness: safety, ethics and integrity" with keynotes Ruth Baer and Willoughby Britton.</p><p>See here for a flier:&nbsp;<a href="/uploads/SMC conference flier Apr 17.pdf">/uploads/SMC conference flier Apr 17.pdf</a></p><p>and here for a draft programme:&nbsp;<a href="/SMC conference 2017 - draft programme.docx">/SMC conference 2017 - draft programme.docx</a></p><p>See this link for background:&nbsp;<a href="http://oxfordmindfulness.org/insight/is-mindfulness-safe/">http://oxfordmindfulness.org/insight/is-mindfulness-safe/</a></p></div>
<div class="editable"><p>Send completed booking forms to <a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a></p></div>

<div>
{% if page.event %}
<ul class="nolist">
	{% for events in page.event %}
    <li>
    	{% if events.date %}<h3>{{ events.date }}</h3>{% endif %}
			{% if events.title %}<h3>{{ events.title }}</h3>{% endif %}
    	{% if events.organiser %}<p><strong>{{ events.organiser }}</strong></p>{% endif %}
      {% if events.description_markdown %}<p>{{ events.description_markdown | markdownify }}</p>{% endif %}
      {% if events.booking_url %}<p><a href="{{ events.booking_url }}" class="button" target="_blank">Book online</a></p>{% endif %}
      {% if events.flyer_path %}<p>Download flyer: <a href="{{ events.flyer_path }}"><svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a></p>{% endif %}
    </li>
    {% endfor %}

    </ul>
{% endif %}
</div>

<div class="editable">
<p>All events cost &pound;110 each unless otherwise stated. Specific mindfulness events are free to Trust approved mindfulness teachers but booking is still required.</p><p>If you have any queries email: <a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a>&nbsp;or call 0300 304 2057.<strong> &nbsp; &nbsp;</strong></p>
</div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>