---
layout: page
title: Mindfulness conferences
main_image_path:
main_nav: true
style: events
sidebar: events-sidebar.html
event:
  - date:
    title:
    organiser:
    description_markdown:
    booking_url:
    flyer_path:
---

<section class="main-content with-sidebar">

<div class="intro editable">
  <h4><strong>7th Sussex Mindfulness Centre Annual Conference</strong></h4>
  <p>Venue: Friends Meeting House, Ship Street, Brighton BN1 1AF<br />Date:&nbsp; &nbsp;Friday 25th October 2019<br />Time:&nbsp; &nbsp;9.30am - 4.30pm (registration from 9.00am)</p>
  <p><strong>Featuring</strong></p>
  <ul>
    <li><strong>Rebecca Crane</strong> (Director of the Centre for Mindfulness Research and Practice, Bangor University) on <strong>'What makes an effective mindfulness teacher?'</strong></li>
    <li><strong>Jason Gonzalez</strong> (Principal Facilitator of The Mindful Leader programme, in partnership with Queen&rsquo;s University Belfast William J. Clinton Leadership Institute) on <strong>'Building a Compassionate Culture in a Competitive Environment'. </strong><br /><strong></strong><a target="_blank" href="www.thehappywarrior.co.uk"><em>For more information about Jason's work click here</em></a></li>
    <li><strong>Bridgette O&rsquo;Neill </strong>(Trainer, Sussex Mindfulness Centre) and <strong>Robert Marx</strong> (Co-lead, Sussex Mindfulness Centre) on <strong>'Compassionate approaches to mindfulness: Mindful Self-Compassion &amp; Mindfulness-Based Compassionate Living'</strong></li>
  </ul>
  <p><strong>Prices</strong></p>
  <p>This conference is free for Sussex Partnership staff, Sussex Mindfulness Centre research staff &amp; students, SMC advocates and current/recent Sussex Partnership service users. The conference is &pound;90 for other attendees.&nbsp; Tea and coffee will be provided. (Lunch is not provided but can be purchased from local cafes and shops)</p>
  <p><a target="_blank" href="/Conference Flyer 2019.pdf">See the flyer</a></p>
  <p><a target="_blank" href="/SMC Annual Conference 2019 Programme Final.pdf">Download the programme</a></p>
</div>
<div class="editable">
  <p><strong>How to register</strong></p>
  <p>Please book your ticket via <a target="_blank" href="https://smc2019conference.eventbrite.co.uk">Eventbrite</a></p>
  <p>or paste this link into your browser:&nbsp;<a target="_blank" href="https://smc2019conference.eventbrite.co.uk">https://smc2019conference.eventbrite.co.uk</a></p>
</div>

<div>
{% if page.event %}
<ul class="nolist">
	{% for events in page.event %}
    <li>
    	{% if events.date %}<h3>{{ events.date }}</h3>{% endif %}
			{% if events.title %}<h3>{{ events.title }}</h3>{% endif %}
    	{% if events.organiser %}<p><strong>{{ events.organiser }}</strong></p>{% endif %}
      {% if events.description_markdown %}<p>{{ events.description_markdown | markdownify }}</p>{% endif %}
      {% if events.booking_url %}<p><a href="{{ events.booking_url }}" class="button" target="_blank">Book online</a></p>{% endif %}
      {% if events.flyer_path %}<p>Download flyer: <a href="{{ events.flyer_path }}"><svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a></p>{% endif %}
    </li>
    {% endfor %}

    </ul>
{% endif %}
</div>
<div class="intro editable">
  <h3>5th SMC Annual Conference, 2017</h3>
  <section class="video-wrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/J5Xu1NHV3A4" frameborder="0" allowfullscreen=""></iframe></section>
</div>
<div class="editable">
  <p>If you have any queries email: <a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a>&nbsp;or call 0300 304 2057.<strong> &nbsp; &nbsp;</strong></p>
</div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>