---
layout: page
title: Mindfulness conferences
main_image_path:
main_nav: false
style: events
sidebar: events-sidebar.html
event:
  - date: 2018-03-22 00:00:00
    title: 2019 National mindfulness conference
    organiser:
    description_markdown: >-
      **Save the date! 22-26 March 2019**


      Join us for the first collaboration of UK mindfulness centres, led by the
      Sussex Mindfulness Centre, to be held in Sussex from 22nd to 26th March
      2019. More details to come.
    booking_url:
    flyer_path:
---
<section class="main-content with-sidebar">

<div class="intro editable"><p>6th SMC Annual Conference</p><p>COMMUNITY MINDFULNESS: staying connected, local and accessible.</p><p>Venue: Sussex Education Centre, Nevill Avenue,&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Hove BN3 7HY<br />Date:&nbsp; &nbsp;Friday 21st September 2018<br />Time:&nbsp; &nbsp;9:30am to 4:30pm (registration from 9am)</p><p>This event is free to SPFT staff / current and recent service users / advocates and<br />trainers. &pound;50 for other attendees via &lsquo;Eventbrite&rsquo;.</p><p><a href="/uploads/SMC  Mindfulness Conference 2018 Booking form.doc">Download booking form</a></p><p><a href="/uploads/Annual Conference Sep 2018.pdf">Download a conference flyer</a></p><p>Programme tbc</p></div>
<div class="editable"><p>Send completed booking forms to <a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a></p></div>

<div>
{% if page.event %}
<ul class="nolist">
	{% for events in page.event %}
    <li>
    	{% if events.date %}<h3>{{ events.date }}</h3>{% endif %}
			{% if events.title %}<h3>{{ events.title }}</h3>{% endif %}
    	{% if events.organiser %}<p><strong>{{ events.organiser }}</strong></p>{% endif %}
      {% if events.description_markdown %}<p>{{ events.description_markdown | markdownify }}</p>{% endif %}
      {% if events.booking_url %}<p><a href="{{ events.booking_url }}" class="button" target="_blank">Book online</a></p>{% endif %}
      {% if events.flyer_path %}<p>Download flyer: <a href="{{ events.flyer_path }}"><svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a></p>{% endif %}
    </li>
    {% endfor %}

    </ul>
{% endif %}
</div>

<div class="editable">
<p>All events cost &pound;110 each unless otherwise stated. Specific mindfulness events are free to Trust approved mindfulness teachers but booking is still required.</p><p>If you have any queries email: <a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a>&nbsp;or call 0300 304 2057.<strong> &nbsp; &nbsp;</strong></p>
</div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>