---
layout: page
title: Mindfulness governance
main_image_path:
style: practice
sidebar: practice-sidebar.html
---
<section class="main-content with-sidebar">

<h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
<div class="intro editable">
<p>Our training organisation is a participating member of the UK Network of Mindfulness-based Teacher Training Organisations. Our teachers adhere to both the Good Practice Guidelines for teachers as well as our own additional governance criteria that all teachers of eight-week MBCT groups in the Trust must meet.</p>
</div>

<div class="editable">
The good practice guidelines are here
UK Good Practice Guidelines for Teachers

For clarification of terms in the good practice guidelines, please see this:
FAQs for the GPC

Our additional Sussex Partnership criteria for people running eight week MBCT courses are:
Governance arrangements for teaching Mindfulness Based Cognitive Therapy (MBCT) in Sussex Partnership NHS Foundation Trust

Governance for staff using brief and adapted (non MBSR/MBCT) mindfulness interventions
Trust Governanace for non-eight week Mindfulness

Our mindfulness supervisors adhere to our governance criteria for mindfulness supervisors:
Governance criteria for mindfulness supervisors

Our trainers adhere to the national good practice guidelines for trainers of mindfulness-based teachers:
UK good practice guidelines for trainers

</div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>
