---
layout: page
title: Mindfulness governance
main_image_path:
style: practice
sidebar: practice-sidebar.html
---
<section class="main-content with-sidebar">

<h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
<div class="intro editable">
<p>Our training organisation is a participating member of the UK Network of Mindfulness-based Teacher Training Organisations. Our teachers adhere to both the Good Practice Guidelines for teachers as well as our own additional governance criteria that all teachers of eight-week MBCT groups in the Trust must meet.</p>
</div>

<div class="editable">
	<p>The good practice guidelines are here</p>
<ul class="nolist">
	<li><a href="{{ site.baseurl }}/assets/documents/gpg_for_teachers_revised_june_15.pdf">UK Good Practice Guidelines for Teachers&nbsp;<svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a></li>
</ul>

	<p>For clarification of terms in the good practice guidelines, please see this:</p>
<ul class="nolist">
	<li><a href="{{ site.baseurl }}/assets/documents/uk_network_faqs_for_the_gpg1.pdf">FAQs for the GPC&nbsp;<svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a></li>
</ul>

	<p>Our additional Sussex Partnership criteria for people running eight week MBCT courses are:</p>
	<ul class="nolist">
		<li><a href="{{ site.baseurl }}/assets/documents/governance_arrangements_for_teaching_mindfulness_based_cognitive_therapy_mbct_in_sussex_partnership_nhs_foundation_trust.doc">Governance arrangements for teaching Mindfulness Based Cognitive Therapy (MBCT) in Sussex Partnership NHS Foundation Trust&nbsp;<svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a></li>
	</ul>


	<p>Governance for staff using brief and adapted (non MBSR/MBCT) mindfulness interventions</p>
	<ul class="nolist">
		<li><a href="{{ site.baseurl }}/assets/documents/trust_governance_for_non_8_week_mindfulness_in_spft_v2.pdf">Trust Governanace for non-eight week Mindfulness&nbsp;<svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a></li>
	</ul>


	<p>Our mindfulness supervisors adhere to our governance criteria for mindfulness supervisors:</p>
	<ul class="nolist">
		<li><a href="{{ site.baseurl }}/assets/documents/governance_criteria_for_trust_mindfulness_supervisors.pdf">Governance criteria for mindfulness supervisors&nbsp;<svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></li>
	</ul>


	<p>Our trainers adhere to the national good practice guidelines for trainers of mindfulness-based teachers:</p>
	<ul class="nolist">
		<li><a href="{{ site.baseurl }}/assets/documents/uk_good_practice_guidelines_for_trainers.pdf">UK good practice guidelines for trainers&nbsp;<svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a></li>
	</ul>


</div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>
