---
layout: page
title: Practice & governance
main_image_path:
style: practice
sidebar: practice-sidebar.html
---
<section class="main-content with-sidebar">

<h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
<div class="intro editable"><img src="{{ site.baseurl }}/assets/practice-icon.png" title="practice icon" class="image--left">We run mindfulness-based cognitive therapy (MBCT) groups across Sussex with adolescents, adults and older people. Our assessment process helps make sure that MBCT is suitable for people who are referred. Groups are evaluated to help us understand how they are effective. We also run less formal mindfulness groups in various settings where they are adapted for local populations.</p>
	<p>More information about how mindfulness can help is available on the video below and the downloadable help document:</p>
	<p><a href="/smc_events_sept 16.doc" class="button">How can MBCT help?&nbsp;<svg class="icon icon--readmore icon__white"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a></p>
	<section class="video-wrapper">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/SEHX0bxS8Iw" frameborder="0" allowfullscreen></iframe>
	</section>

</div>

<div class="editable">


</div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>
