---
layout: page
title: Retreats
main_image_path:
main_nav: false
style: events
sidebar: events-sidebar.html
event:
  - event_date: 2021-06-05 00:00:00
    organiser:
    description_markdown:
  - event_date: 2021-11-13 00:00:00
    organiser:
    description_markdown:
---

<section class="main-content with-sidebar">

<div class="intro editable">
  <p><strong>Online Mindfulness Retreat:<br />Foundations of Mindfulness<br />with Kay Octigan and Robert Marx<br />27th Sept (9am) - 1st Oct 2021 (finishing by1pm)</strong></p>
  <p><strong>Who is this for?</strong></p>
  <p>The retreat is aimed at mindfulness teachers in training but would also be suitable for qualified mindfulness teachers and in particular for those wanting to bridge contemplative wisdom traditions and secular practice and teaching.&nbsp; <strong></strong>It will support a deepening of participants&rsquo; mindfulness practice using the framework of the four Foundations of Mindfulness.<strong>&nbsp; </strong>The retreat will enable mindfulness teachers who wish to be included on the BAMBA Register of Mindfulness Teachers to fulfil the requirement to attend an annual mindfulness retreat.</p>
  <p><strong>Cost: </strong>&pound;250</p>
  <p><b>How to apply</b></p>
  <ul>
    <li>Please complete the application form and return it to us at&nbsp;<a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a>. &nbsp; The purpose of this application process is to try to ensure that the retreat is likely to be beneficial for you. &nbsp;</li>
    <li>On offering you a place we will issue an invoice for payment in full.</li>
    <li>See more details in the <a target="_blank" rel="noopener" href="/Retreat_MarxOctigan_Foundations of Mindfulness 2021.pdf">flyer here</a></li>
  </ul>
  <p>&nbsp;</p>
  <h1>&nbsp;</h1>
  <h2>Day Retreats</h2>
  <p>Due to Covid-19 social distancing rules, day retreats (or mindfulness 'all days') are currently held on online. They run from 10am to 4pm, but we ask people to join from 9.50-9.55am for a 10am prompt start.&nbsp;</p>
  <p>If you have attended an 8-week MBCT or MBSR course and are a current or previous Sussex Partnership service user, current staff member or current Sussex Mindfulness Centre trainee, you are welcome to participate. No payment is required. In order to book a place and receive joining details, please email <a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a></p>
  <p>You'll need to attend for the whole day; it's not possible to only come for a portion of the day - thank you for your co-operation. Here are the dates for 2021:</p>
</div>
<div>
{% if page.event %}
<ul class="nolist">
	{% for events in page.event %}
    <li>
      {% if events.event_date %}
      <strong>{{ events.event_date | date: "%-d %B" }}</strong>
      {% endif %}
      {% if events.organiser %} &ndash; {{ events.organiser }}
      {% endif %}
      {% if events.description_markdown %}<p>{{ events.description_markdown | markdownify }}</p>{% endif %}
    </li>
    {% endfor %}
    </ul>
{% endif %}
</div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>
