---
layout: page
title: All day retreats
main_image_path:
main_nav: false
style: events
sidebar: events-sidebar.html
event:
  - event_date: 2020-11-14 00:00:00
    organiser:
    description_markdown:
---

<section class="main-content with-sidebar">

<div class="intro editable">
  <p>Due to Covid-19 social distancing rules, day retreats (or mindfulness 'all days') are currently held on online. They run from 10am to 4pm, but we ask people to join from 9.50-9.55 for a 10am prompt start.&nbsp;</p>
  <p>If you have attended an 8-week MBCT or MBSR course and are a current or previous Sussex Partnership service user, current staff member or current Sussex Mindfulness Centre trainee, you are welcome to participate. No payment is required. In order to book a place and receive joining details, please email <a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a></p>
  <p>You'll need to attend for the whole day; it's not possible to only come for a portion of the day - thank you for your co-operation.</p>
  <p>&nbsp;</p>
</div>
<div>
{% if page.event %}
<ul class="nolist">
	{% for events in page.event %}
    <li>
      {% if events.event_date %}
      <strong>{{ events.event_date | date: "%-d %B" }}</strong>
      {% endif %}
      {% if events.organiser %} &ndash; {{ events.organiser }}
      {% endif %}
      {% if events.description_markdown %}<p>{{ events.description_markdown | markdownify }}</p>{% endif %}
    </li>
    {% endfor %}
    </ul>
{% endif %}
</div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>
