---
layout: page
title: All day retreats
main_image_path:
main_nav: false
style: events
sidebar: events-sidebar.html
---
<section class="main-content with-sidebar">
<h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
<div class="intro editable">
<p>Day retreats or all days are usually held on Saturdays from 10am to 4pm at Sussex Education Centre. Please bring your own lunch, mat, cushion/stool and blanket if possible as there are only a few available. You'll need to attend for the whole day; it's not possible to only come for a portion of the day as it will affect the rest of the group in an unhelpful way - thank you for your co-operation. Below are the dates for 2017:</p>
</div>
<div class="editable">
<ul class="nolist">
<li>25 March – Bridgette O’Neill, Hazel Ragoonanan, Michael Swan, Lucy Edwards and Liz Stapleton</li>
<li>24 June - Robert Marx and Heather Ball</li>
<li>18 November – Robert Marx</li>
</ul>



</div>
</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>