---
layout: page
section: research
title: Outcomes from Sussex Partnership Mindfulness Groups
main_image_path:
style: research
main_nav: false
sidebar: research-sidebar.html
---
<section class="main-content with-sidebar">
	<h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
	<div class="intro editable">


	</div>
	<div class="editable">

	<p>We have recently conducted a review of the effects of mindfulness groups with both service users and staff in Sussex Partnership. The results can be found here:</p>
	<ul>
		<li><a href="{{ site.baseurl }}/assets/documents/mbct_staff_groups_evaluation_report_april_2016_final.pdf">MBCT Staff Groups Evaluation Report April 2016&nbsp;<svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a></li>
		<li><a href="{{ site.baseurl }}/assets/documents/mbct_service_user_groups_evaluation_report_april_2016_final.pdf">MBCT Service User Group Evaluaton Report&nbsp;<svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a></li>
	</ul>


		</div>
</section>

<aside class="sidebar">

		{% include {{ page.sidebar }} %}

</aside>