---
layout: home
main_image_path:
carousel:
  - image: /assets/banner-barnacles.jpg
    caption: Barnacles
  - image: /assets/banner-outatsea.jpg
    caption: Out at sea
  - image: /assets/banner-sea.jpg
    caption: Shoreline
  - image: /assets/banner-mosstuft.jpg
    caption: Moss tuft
  - image: /assets/banner-mosswall.jpg
    caption: Moss wall
  - image: /assets/banner-rottingdean.jpg
    caption: Rottingdean
  - image: /assets/banner-sand-footprint.jpg
    caption: Footprints in the sand
  - image: /assets/banner-seapink.jpg
    caption: Seapink
  - image: /assets/banner-wave.jpg
    caption: Wave
---
<header id="content-header">
  <section id="page-title">
    <!-- testing slider -->
      {% if page.carousel %}
      <div class="flexslider">
        <ul class="slides">
          {% for slides in page.carousel %}
          <li>
            <img src="{{ slides.image }}">
            {% if slides.caption %}
            <p class="flex-caption">{{ slides.caption }}</p>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
  </section>
</header>

<main role="main" class="home">

 <article class="row1">

    <div class="half editable"><h2><a href="/what-is-mindfulness/">What is mindfulness?</a></h2><p>Mindfulness is a particular kind of awareness that arises from an open, kind attentiveness to experience. The emphasis in the practice of cultivating mindfulness is not so much about trying to change experience but to bring a deep noticing and radical acceptance to whatever arises. <a href="/learn-to-practice-mindfulness/">This encourages</a> a capacity to &lsquo;be&rsquo; as well as to &lsquo;do&rsquo;.<br /><a class="button" href="/what-is-mindfulness/">Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p></div>

    <div class="half editable"><h1>About</h1><h1>Sussex Mindfulness Centre (SMC) aims to draw on the high quality training, good governance and the existing research evidence to offer high quality mindfulness provision.<br /><a class="button" href="/what-is-mindfulness/">Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></h1></div>

 </article>

 <article class="row2">

    <div class="half editable"><h2><a href="/learn-to-practice-mindfulness/">Learn to practice mindfulness</a></h2><ul><li>In the workplace</li><li>In the community</li><li>For young people</li><li><a href="/what-is-mindfulness/what-is-mbct/">What is MBCT?</a></li><li>How can MBCT help?</li><li>Good practice</li></ul></div>

    <div class="half event editable">
    	<h3>4th Annual Conference</h3>
    	<p><span class="date">7 October</span>
		<span class="title">Mindfulness and compassion at the heart of
our work’</span>
		<span class="venue">Friends Meeting House, Ship Street, Brighton</span>
		</p>
		<a href="{{ site.baseurl }}" class="button">More details</a>
    </div>
 </article>

 <article class="row3">
 	<div class="editable">
    <h2><a href="{{ site.baseurl }}/train-to-teach-mindfulness/">Train to teach mindfulness</a></h2>
    <p>Sussex Mindfulness Centre has been offering mindfulness training since 2011. We have 29 members of staff trained as mindfulness teachers who are connected to a large network of skilled local teachers and a thriving team of researchers producing cutting-edge research into mindfulness interventions.<br /><a class="button" href="{{ site.baseurl }}/train-to-teach-mindfulness/">Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
    </div>
    <div class="half editable">
    	<p>Foundation training programme in Mindfulness-Based Approaches
One year course</p>

		<p><a class="button btn" href="{{ site.baseurl }}/train-to-teach-mindfulness/">Apply now for 2017 <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i></a></p>
	</div>
	<div class="half editable">
		<p>Training programme in Adapted Mindfulness-Based Interventions
One year course</p>
   	 	<p><a class="button" href="{{ site.baseurl }}/train-to-teach-mindfulness/">Apply now for 2017 <i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i></a></p>
   	 </div>
 </article>

 <article class="row4 editable"><div><h2><a href="/research/">Our research</a></h2><p>We conduct research on the potential benefits of mindfulness-based interventions for groups of people for whom interventions have not traditionally been available.<br /><a class="button" href="/research/">Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p></div><div><i class="fa fa-quote-left fa-3x fa-pull-left" aria-hidden="true"></i><blockquote><p>I see the way I am now, and the way my life is now, as a testament to the transformative and healing power of mindfulness.<br /><cite>Helga Dettmar, MBCT course</cite></p></blockquote></div></article>


</main>

