---
layout: page
title: In the community
main_image_path:
style: practice
sidebar: practice-sidebar.html
main_nav: false
---
<section class="main-content with-sidebar">
<h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
<div class="intro editable">
<p>Potential participants looking for MBCT groups in the community (ie, outside the NHS) can search for local teachers on <a href="http://bemindful.co.uk" target="_blank">Be Mindful</a> where those advertising will have completed certain minimum standards in training and experience. Anyone seeking a MBCT group should assure themselves the person teaching the group meets the national good practice guidelines.</p>
</div>
<div class="editable">
</div>
</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>
