---
layout: page
title: Research
section: research
main_image_path:
style: research
sidebar: research-sidebar.html
---
<section class="main-content with-sidebar">
<h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
	<div class="intro editable">
		<img src="{{ site.baseurl }}/assets/research-icon.png" title="research icon" class="image--left">
		<h2>SMC Research Aims</h2>
		<p>At SMC we are passionate about research - researching how and why learning mindfulness can be helpful. Most of our research is about looking at the potential benefits of mindfulness-based interventions for groups of people where there isn't already good research evidence. Ultimately, the aim of our research is to improve access to effective mindfulness-based interventions to a wider group of people.</p>
	</div>

	<div class="editable">
	<h2>SMC Researchers</h2>
	<p>Please look at our <a href="/about/our-team/">team page</a> to find out more about the SMC research team.</p>

	<h2>SMC Current Research</h2>

	<h3>Researching Mindfulness Courses</h3>
	<p>We have been researching mindfulness courses for people experiencing a range of mental health difficulties including <a href="https://www.ncbi.nlm.nih.gov/pubmed/25886875">obsessive-compulsive difficulties</a>,&nbsp;<a href="https://www.ncbi.nlm.nih.gov/pubmed/22803939">depression </a>and&nbsp;<a href="http://www.sciencedirect.com/science/article/pii/S0920996416301335">distressing voices</a>. Some of our research focuses on working age adults but we have also been doing research involving young people and older adults. Last but not least, we have been offering MBCT courses to our <a href="https://www.cambridge.org/core/journals/the-cognitive-behaviour-therapist/article/the-eye-of-the-storm-a-feasibility-study-of-an-adapted-mindfulness-based-cognitive-therapy-mbct-group-intervention-to-manage-nhs-staff-stress/430C810A32A9DDAAA7A5CFB218598A0D">NHS staff</a> for a number of years and evaluating outcomes from these courses.</p>

	<h3>Researching Mindfulness Self-help</h3>
	<p>There are a wide range of mindfulness self-help books, online courses and smartphone apps available. These could be a good way of extending the reach of mindfulness to people who may not be able to attend a mindfulness course. Our research is also looking at the potential benefits of these self-help mindfulness-based interventions for <a href="https://www.ncbi.nlm.nih.gov/pubmed/25302763">members of the public</a> as well as for people experiencing <a href="http://www.isrctn.com/ISRCTN41503149">mental health difficulties.</a>&nbsp;</p>
	<h3>Compassion Research</h3>
	<p>Recently we have started to research compassion-enhanced mindfulness courses, in order to see if bringing compassion practices into our mindfulness courses might be helpful. Part of our <a href="http://www.sciencedirect.com/science/article/pii/S0272735816300216">compassion research</a> has included developing a new self-report measure of compassion so that we can see if our courses help to enhance levels of compassion for self and other people.</p>



	</div>
	</section>

	<aside class="sidebar">

		{% include {{ page.sidebar }} %}

	</aside>