---
layout: page
title: What problems can MBCT help with?
main_image_path:
style: practice
main_nav: false
sidebar: practice-sidebar.html
---
<section class="main-content with-sidebar">

<h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
<div class="intro editable">
<p>Many people find that worrying about the future or ruminating over past events can leave them feeling more anxious, stressed or low. Often this worry and rumination can feel very difficult to control. It may continue despite our best efforts to stop it.</p>

</div>

<div class="editable">
<p>MBCT can help us learn ways to reduce worry and rumination, which can increase our mental wellbeing. MBCT works by strengthening our ability:</p>
<ol>
<li>to notice unhelpful thoughts</li>
<li>to let these thoughts go</li>
<li>to relate to ourselves with greater gentleness and kindness.</li>
</ol>
<p>There is good evidence that MBCT can help people who have suffered from three or more previous episodes of depression. There is growing evidence that it can help other problems too, including chronic pain, anxiety and stress.</p>
<p>Our NHS Trust offers a range of other therapies and course. Sometimes one of these may be more helpful than MBCT in the first instance. Also, for some people, now may not be the right time to start MBCT. For example, if you have a current drug/alcohol problem or have experienced a recent bereavement or trauma then it is probably best not to start MBCT at the moment.</p>
</div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>
