---
layout: page
title: Mindfulness in paediatrics
main_image_path:
style: practice
sidebar: practice-sidebar.html
---
<section class="main-content with-sidebar">

<h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>

<div class="intro editable">

</div>

<div class="editable">
<p>The Paediatric Psychological Support Service at the Royal Alexandra Children’s Hospital in Brighton offers Mindfulness workshops to children, young people, and parents affected by chronic illness (including diabetes, cystic fibrosis, asthma, chrohns disease, chronic pain, and arthritis).In conjunction with Brighton &amp; Hove CAMHS and the Sussex Mindfulness Centre they are in the process of developing and evaluating a seven-week MBCT/MBSR-adapted course for young people (14-18 years) living with the challenges of stress, pain and chronic illness.</p>

<p>For more information about Mindfulness at the Royal Alexandra Children’s Hospital please contact Dr Lana Jackson (Paediatric Clinical Psychologist) <a href="mailto:lana.jackson@bsuh.nhs.uk">lana.jackson@bsuh.nhs.uk</a></p>

<h3>See also</h3>
<p>
	<ul>
		<li><a href="/practice-and-governance/child-adolescent-services/mindfulness-in-paediatrics/">Mindfulness in paediatrics</a></li>
		<li><a href="/practice-and-governance/child-adolescent-services/camhs/">Sussex Mindfulness in CAMHS Special Interest Group (SIG)</a></li>
		<li><a href="/practice-and-governance/child-adolescent-services/drop-ins-for-young-people/">Mindfulness drop-ins for young people</a></li>
	</ul>
</p>
</div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>
