---
layout: page
section: research
title: Mindfulness-based behaviour therapy for Obsessive Compulsive Disorder
main_image_path:
style: research
main_nav: false
sidebar: research-sidebar.html
---
<section class="main-content with-sidebar">
	<h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
	<div class="intro editable">


	</div>
	<div class="editable">

	<p>The BeMind study has secured approximately £100,000 of research for patient benefit funding for a 19 month study to evaluate mindfulness-based behaviour therapy for obsessive compulsive disorder (OCD). The study is recruiting at our <a href="http://www.sussexpartnership.nhs.uk/services/ocdclinic">OCD Clinic</a> at Health in Mind in East Sussex and in the wellbeing service in Brighton and Hove.</p>

	<p>Exposure and response prevention (ERP) is a well-established and effective behaviour therapy for OCD and it is the psychological therapy recommended by NICE for OCD. However, about a third of people with OCD do not benefit from ERP. Mindfulness-based interventions (MBIs) have good evidence for effectiveness for a wide range of physical and mental health conditions, but evidence is lacking for OCD. However, there are good reasons why a mindfulness-based approach might be helpful for OCD and people with lived experience of OCD contributed to the design of this study and will meet to oversee the study whilst it is running.</p>

	<p>The study team want to see whether mindfulness-based ERP is more effective than ERP on its own and whether it has lower drop-out rates than standard ERP. BeMind is a randomised controlled study that will compare ERP with mindfulness-based ERP, with both therapies offered in a group format. The study is recruiting 40 adults with OCD and participants will be allocated at random to either a ten-session ERP group or to a ten-session mindfulness-based ERP group. Assessments will take place before the therapy starts, immediately after the therapy and again six months later. This will help us to find out if adding a mindfulness-based approach to ERP appears to be helpful. If it seems to be helpful the research team will apply for further funding for a larger study which will help to answer the research question more definitively.</p>

		<p><a href="http://www.controlled-trials.com/ISRCTN52684820">www.controlled-trials.com/ISRCTN52684820</a></p>



		</div>
</section>

<aside class="sidebar">

		{% include {{ page.sidebar }} %}

</aside>