---
layout: page
title: Listen
main_image_path:
style: practice
main_nav: false
sidebar: practice-sidebar.html
---
<section class="main-content with-sidebar">

<h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>

<div class="intro editable">
<p>Download or listen online to a series of mindfulness practice recordings.</p>
</div>

<div class="editable">
<p><a class="button" href="{{ site.baseurl }}/assets/audio/compassionate_mindfulness_of_breathing.mp3">Compassionate Mindfulness of Breathing&nbsp;<svg class="icon icon--readmore icon__white"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a> (MP3)</p>
</div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>
