---
layout: page
title: Sussex Mindfulness in CAMHS Special Interest Group (SIG)
main_image_path:
style: practice
main_nav: false
sidebar: practice-sidebar.html
---
<section class="main-content with-sidebar">

<h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>

<div class="intro editable">

</div>

<div class="editable">
	<p>The Sussex Mindfulness in CAMHS SIG is a forum for professionals already involved in teaching mindfulness in health, education and social care. We meet on a regular basis to discuss and share good practice in the growing field of Mindfulness with children, young people and families.</p>

<p>The SIG is open to professionals locally and also nationally, as we are increasingly linking with colleagues in services across the UK, to share practice initiatives and also to develop some joint research initiatives to extend the emerging evidence base for MBCT for children and adolescents.</p>

<h3>See also</h3>
<p>
	<ul>
		<li><a href="/practice-and-governance/child-adolescent-services/mindfulness-in-paediatrics/">Mindfulness in paediatrics</a></li>
		<li><a href="/practice-and-governance/child-adolescent-services/camhs/">Sussex Mindfulness in CAMHS Special Interest Group (SIG)</a></li>
		<li><a href="/practice-and-governance/child-adolescent-services/drop-ins-for-young-people/">Mindfulness drop-ins for young people</a></li>
	</ul>
</p>
</div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>
