{% assign url = page.url | remove: 'index.html' %}
<h2 class="h2__promote"><a href="{{ site.baseurl }}/events/">Events</a></h2>
<ul class="nav__secondary">

{% for link in site.data.nav %}
	{% if link.title == "Events" %}

		{% for subcategory in link.subcategories %}
		  <li><a href="{{ subcategory.href | prepend: site.baseurl }}" class="events{% if url contains subcategory.href %} active{% endif %}">{{ subcategory.subtitle }}</a>
		{% endfor %}

 	{% endif %}
{% endfor %}
</ul>
<div class="widget widget__centred">
	<a href="{{ site.baseurl }}/events/"><img src="{{ site.baseurl }}/assets/shell.png" title="shell icon" class=""></a>
</div>