<footer class="site-footer">

  <div class="wrapper">

    <div class="site-navigation">

      <p><strong>Site Map</strong></p>
      <ul class="pages">
        {% for page in site.pages %}
        {% if page.title and page.main_nav != false %}
          <li class=""><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="site-contact">

      <p><strong>Contact</strong></p>
      <p>Sussex Education Centre<br>
      Nevill Avenue, Hove, BN3 7HZ<br>
      01273 716573</p>
      <p><a href="mailto:smc@sussexpartnership.nhs.uk"> <svg class="icon icon__white"><use xlink:href="#icon-envelope_alt" /></svg> smc@sussexpartnership.nhs.uk</a><br>
      <a href="https://twitter.com/withoutstigma"><svg class="icon icon-twitter_sign"><use xlink:href="#icon-twitter_sign" /></svg> @withoutstigma</a><br>
      #sussexmindfulness</p>
    </div>

    <div class="site-signature">
      <p class="text"><strong>Site by <a href="https://www.eyedivision.com">Eye Division</a></strong></p>
    </div>

  </div>

</footer>

