<footer class="site-footer">

  <div class="wrapper">

    <div class="site-navigation">

      <p><strong>Site Map</strong></p>
      <ul class="pages">
        {% for page in site.pages %}
          {% if page.title and page.main_nav != false %}
            <li class=""><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="site-contact">

      <p><strong>Contact</strong></p>
      <p>Sussex Mindfulness Centre<br>
        Aldrington House, 35 New Church Road, Hove BN3 4AG<br>
      0300 304 2057</p>
      <p><a href="mailto:smc@sussexpartnership.nhs.uk"> <svg class="icon icon__white"><use xlink:href="#icon-envelope_alt" /></svg> smc@sussexpartnership.nhs.uk</a><br>
      <a href="https://twitter.com/SMCmindful_SPFT"><svg class="icon icon-twitter_sign"><use xlink:href="#icon-twitter_sign" /></svg> @SMCmindful_SPFT</a><br>
      #sussexmindfulness</p>
    </div>

    <div class="site-signature">
      <p><a href="/about/subscribe/" class="button large">Subscribe</a></p>
      <p class="text">Site by <a href="https://eyedivision.com/?utm_source=Client%20website&utm_campaign=client_referral&utm_medium=cpc&utm_content=footerlink">Eye Division</a></p>
    </div>

  </div>

</footer>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script src="/js/jquery.flexslider-min.js" defer></script>
<script src="//cdn.jsdelivr.net/npm/lightbox2@2.10.0/dist/js/lightbox.min.js" defer></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<!--  Eventbrite -->
<script defer src="/js/eventbrite.js"></script>
<script src="/js/main.js"></script>
