<header class="navigation" role="banner">
  <div class="navigation-wrapper">

    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
        <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}" class="nav__logo">
      {% else %}
        <span>{{ site.title }}</span>
      {% endif %}
    </a>
    {% if site.subtitle %}
        <div class="mission"><!-- {{ site.subtitle }} --></div>
    {% endif %}

    <div class="trust">
      <a href="http://www.sussexpartnership.nhs.uk/" title="Sussex Partnership NHS Foundation Trust"><img src="{{ site.baseurl }}/assets/partnership_logo_2017.png" alt="Sussex Partnership NHS Foundation Trust" class=""></a></div>

    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <svg class="icon icon--logo"><use xlink:href="#icon-reorder" /></svg>
    </a>

    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for link in site.data.nav %}
          <li class="nav-link{% if page.url contains link.href %} active{% endif %}"><a href="{{ link.href | prepend: site.baseurl }}" class="{% if link.class %}{{ link.class }}{% endif %}">{{ link.title }}</a>
        {% endfor %}

      </ul>
    </nav>
  </div>
</header>