---
layout: page
title: Master classes
main_image_path:
main_nav: false
style: events
sidebar: events-sidebar.html
event:
  - datetext: 20 September 2019
    organiser: Christina Feldman
    description_markdown: >-
      **Buddhist foundations of mindfulness**


      **A day of practice, teaching and discussion**


      Even though many of us deliver entirely secular MBCT or MBSR programmes,
      many of the ideas in contemporary mindfulness-based programmes make more
      sense when we understand their origins and intentions.&nbsp; Christina
      Feldman is one of the few people who can expertly make this bridge and we
      are delighted to welcome her back again to Brighton.&nbsp;


      This would be suitable for anyone involved in teaching, or training to
      teach, mindfulness; or anyone with a particular interest in the Buddhist
      underpinnings of mindfulness practice.


      [Please book via Eventbrite&nbsp;
      ](https://www.eventbrite.co.uk/e/buddhist-foundations-of-mindfulness-tickets-38531478690){:
      target="_blank"}


      and use password: **Mindfulness123**


      &nbsp;[https://www.eventbrite.co.uk/e/buddhist-foundations-of-mindfulness-tickets-38531478690](https://www.eventbrite.co.uk/e/buddhist-foundations-of-mindfulness-tickets-38531478690)


      [Download a booking form](/Buddhist Foundations of Mindfulness 20th Sept
      19.doc){: target="_blank"}
    booking_url: >-
      https://www.eventbrite.co.uk/e/buddhist-foundations-of-mindfulness-tickets-38531478690
    flyer_path: >-
      /assets/images/Christina Feldman  Buddhist foundations of mindfulness
      200919_Flyer.pdf
  - datetext: 4th October 2019
    organiser: Rosalie Dores
    description_markdown: >-
      **Relational Mindfulness**


      In this one-day workshop, based on the meditative practice of Insight
      Dialogue (ID) participants will have an opportunity to focus on
      relationality in and of itself. This is an invaluable opportunity for
      teachers to enhance, and refine, their interpersonal skills through
      learning six ID relational meditation guidelines. These guidelines have
      been specifically developed by Insight meditation teacher Gregory Kramer,
      to support people in cultivating their capacity for mindful presence in
      relationship.


      Suitable for mindfulness teachers


      Please book your place via the [eventbrite
      link](https://relational-mindfulness-011019.eventbrite.co.uk). The
      password is: Relational123


      If you wish to pay by invoice or cheque, please contact:
      smc@sussexpartnership.nhs.uk for a booking form.
    booking_url: 'https://relational-mindfulness-011019.eventbrite.co.uk'
    flyer_path: /assets/images/Relational Mindfulness flyer.pdf
  - datetext: 15th November 2019
    organiser: Taravajra
    description_markdown: >-
      **Exploring mindful movement practice**&nbsp;


      Mindful Movement is a fundamental part of mindfulness teaching, offering
      ways to make deeper contact with the body and to bring us more fully into
      the present moment. Emotional patterns often show up in the body before
      the mind notices them and working with the body in movement can open the
      way to greater choice and freedom.


      This programme is designed for those who are teaching Mindfulness-Based
      courses. The emphasis will be on deepening understanding of personal
      mindful movement practice through experience and exploration in a way that
      encourages curiosity and further integration with other mindfulness
      practices.


      [Please book your place via
      eventbrite](https://mindful_movement_151119.eventbrite.co.uk){:
      target="_blank"}


      &nbsp;The password is: Movement123


      If you wish to pay by invoice or cheque, please contact:
      smc@sussexpartnership.nhs.uk for a booking form.
    booking_url: 'https://mindful_movement_151119.eventbrite.co.uk'
    flyer_path: /assets/images/Mindful Movement flyer.pdf
---

<section class="main-content with-sidebar">

<div class="intro editable">
  <p>Events to support the development of mindfulness teachers and people interested in mindfulness and compassion-oriented approaches. These events last between a day and a week and are typically led by nationally and internationally renown speakers, as well as local mindfulness teachers with particular areas of expertise.&nbsp;</p>
</div>
<div class="editable">
  <p>Workshops will include a mixture of teaching, discussion and experiential practice and provide an opportunity to network with individuals in the field.</p>
  <p>Events are open to all and are usually held at Sussex Education Centre, Mill View Hospital and Hove Polyclinic site, Nevill Avenue, Hove BN3 7HZ, from 9.30am to 4.30pm unless otherwise stated. Please check with <a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a> for specific details.</p>
  <p><strong>See below for the list of masterclasses with flyers and booking information.</strong></p>
  <p><strong>Please request a</strong><strong>&nbsp;booking form by emailing:</strong>&nbsp;<a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a></p>
</div>
<div>
{% if page.event %}
<ul class="nolist">
	{% for events in page.event %}
    <li>
    	{% if events.datetext %}<h3>{{ events.datetext }}</h3>{% endif %}
    	{% if events.organiser %}<p><strong>{{ events.organiser }}</strong></p>{% endif %}
      {% if events.description_markdown %}<p>{{ events.description_markdown | markdownify }}</p>{% endif %}

      {% if events.flyer_path  %}<p>Download flyer: <a href="{{ events.flyer_path }}"><svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a></p>{% endif %}
    </li>
    {% endfor %}

    </ul>
{% endif %}
</div>

<div class="editable">
  <p>All events cost &pound;110 each unless otherwise stated. Specific mindfulness events are free to Trust approved mindfulness teachers but booking is still required.</p>
  <p>If you have any queries email: <a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a>&nbsp;or call 0300 304 2057.<strong> &nbsp; &nbsp;</strong></p>
</div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>