---
layout: page
title: Mindfulness masterclasses
main_image_path:
main_nav: false
style: events
sidebar: events-sidebar.html
event:
  - datetext: 31 October 2017
    organiser: Rebecca Crane with Clara Strauss
    description_markdown: >-
      MBCT: the evolving story.


      Suitable for mindfulness teachers and those training to be mindfulness
      teacher.
    booking_url: >-
      https://www.eventbrite.co.uk/e/psychological-processes-in-mindfulness-based-work-tickets-27327477220
    flyer_path: >-
      /assets/images/mbct-the-evolving-story-311017-rebecca-crane-and-clara-strauss-3.pdf
  - datetext: 16 March 2018
    organiser: Nick Diggins
    description_markdown: 'Mindfulness, improvisation and inquiry'
    booking_url: >-
      https://www.eventbrite.co.uk/e/mindfulness-improvisation-and-inquiry-tickets-33697692706
    flyer_path: /assets/documents/Diggins 160418Flier.doc
  - datetext: Friday 6th – Sunday 8th April 2018
    organiser: Frits Koster
    description_markdown: >-
      Mindfulness-Based Compassionate Living (MBCL) Foundation Course


      Participant Requirements&nbsp;<br>• &nbsp; &nbsp;Participants are expected
      to be familiar with basic mindfulness practice, preferably by having
      followed an eight-week mindfulness training (MBSR, MBCT or
      equivalent).<br>• &nbsp; &nbsp;Participants can be mindfulness teachers,
      psychologists, psychotherapists, doctors, social workers, counselors and
      coaches and are expected to have a professional interest in the
      applications of (self-) compassion.&nbsp;<br>• &nbsp; &nbsp;Participants
      are expected to be responsible for themselves and willing to deepen their
      self-inquiry by engaging in experiential exercises, share experiences and
      engage in mindful dialogue with the teacher and each other; all in an
      unforced way.<br>• &nbsp; &nbsp;The workshop will be English spoken with
      Spanish translation and is not suitable for participants without
      mindfulness meditation experience.
    booking_url:
    flyer_path:
  - datetext: 28 Sept 2018
    organiser: John Peacock
    description_markdown: Buddhist foundations of mindfulness
    booking_url: >-
      https://www.eventbrite.co.uk/e/buddhist-foundations-of-mindfulness-tickets-33697717781
    flyer_path:
---
<section class="main-content with-sidebar">

<div class="intro editable">
<p>Events to support the development of MBCT teachers and people interested in mindfulness. Led by national and internationally renown speakers, as well as local mindfulness teachers with particular areas of expertise. They present cutting edge contemporary mindfulness-oriented approaches in various different contexts.</p>
</div>
<div class="editable"><p>Workshops will include a mixture of teaching, discussion and experiential practice and provide an opportunity to network with individuals in the field.</p><p>Events are open to all and are held at Sussex Education Centre, Mill View Hospital and Hove Polyclinic site, Nevill Avenue, Hove BN3 7HZ, from 9:15am to 5pm. Please check with <a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a> for specific details.</p><p><strong>See the events listing and download the flyer and booking form below for more details and to apply for a place.</strong></p><p>Booking form: <a href="/SMC Mindfulness events from Aug 2017 Booking form.doc">smc Masterclass booking form 2017_2018</a></p><p><strong>Send completed booking forms to</strong> <a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a></p></div>
<div>
{% if page.event %}
<ul class="nolist">
	{% for events in page.event %}
    <li>
    	{% if events.datetext %}<h3>{{ events.datetext }}</h3>{% endif %}
    	{% if events.organiser %}<p><strong>{{ events.organiser }}</strong></p>{% endif %}
      {% if events.description_markdown %}<p>{{ events.description_markdown | markdownify }}</p>{% endif %}

      {% if events.flyer_path:  %}<p>Download flyer: <a href="{{ events.flyer_path:  }}"><svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a></p>{% endif %}
    </li>
    {% endfor %}

    </ul>
{% endif %}
</div>

<div class="editable"><p>All events cost &pound;110 each unless otherwise stated. Specific mindfulness events are free to Trust approved mindfulness teachers but booking is still required.<br /><a href="/SMC Mindfulness events from Aug 2017 Booking form.doc">Sussex Mindfulness Centre Masterclass booking form</a>.&nbsp;<svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></p><p>If you have any queries email: <a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a>&nbsp;or call 0300 304 2057.<strong> &nbsp; &nbsp;</strong></p></div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>