---
layout: page
title: Master classes
main_image_path:
main_nav: false
style: events
sidebar: events-sidebar.html
event:
  - datetext: 4th September 2020
    organiser: John Peacock
    description_markdown: >-
      **[…](/Buddhist Foundations 04 09 2020.doc){: target="_blank"}Buddhist
      Foundation of Mindfulness**


      **A day of practice, teaching and discussion**


      &nbsp;


      **Even though many of us deliver entirely secular MBCT or MBSR programmes,
      many of the ideas in contemporary mindfulness-based programmes make more
      sense when we understand their origins and intentions.&nbsp;**


      \*\*John Peacock is one of the few people who can expertly make this
      bridge and we are delighted to welcome him back again to Brighton.&nbsp;
      \*\*


      To book your place please send your [booking form](/Buddhist Foundations
      04 09 2020.doc) with payment
      to:&nbsp;**smc@sussexmindfulnesscentre.nhs,uk**


      Download booking form


      &nbsp;
    booking_url:
    flyer_path:
  - datetext: 2nd October 2020
    organiser: Dr Alistair Wilson
    description_markdown: >-
      **Mindfulness Trauma and Dissociation**


      **A one day workshop on recognising signs of trauma and adapting
      mindfulness based approaches for trauma syndromes.**


      **Who is this for?**


      Established Mindfulness teachers who wish to understand and support
      clients who may be presenting with trauma symptoms and to Trauma
      therapists who would want to incorporate a Mindfulness based approach into
      the current approach such as EMDR and trauma focused CBT


      Please download a [booking form](/Mindfulness Trauma 02.10.2020.doc){:
      target="_blank"} and return it to Sussex Mindfulness Centre::
      smc@sussexpartnership.nhs.uk


      **&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;**
    booking_url:
    flyer_path: /assets/images/trauma-flyer-dr-alistair-wilson-2-oct-2020.pdf
  - datetext: 6th November 2020
    organiser: Rebecca Crane and Clara Strauss
    description_markdown: >-
      **This masterclass will chart the unfolding of the story of MBCT research
      and practice, interweaving presentations with practice and dialogue. **


      **This would be suitable for mindfulness teachers and those training to be
      mindfulness teachers**
    booking_url:
    flyer_path: /assets/images/masterclass 2020.11.06_R Crane and C Strauss_flyer.pdf
---

<section class="main-content with-sidebar">

<div class="intro editable">
  <p>Events to support the development of mindfulness teachers and people interested in mindfulness and compassion-oriented approaches. These events last between a day and a week and are typically led by nationally and internationally renown speakers, as well as local mindfulness teachers with particular areas of expertise.&nbsp;</p>
</div>
<div class="editable">
  <p>Workshops will include a mixture of teaching, discussion and experiential practice and provide an opportunity to network with individuals in the field.</p>
  <p>Events are open to all and are usually held at Sussex Education Centre, Mill View Hospital and Hove Polyclinic site, Nevill Avenue, Hove BN3 7HZ, from 9.30am to 4.30pm unless otherwise stated. Please check with <a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a> for specific details.</p>
  <p><strong>See below for the list of masterclasses with flyers and booking information.</strong></p>
  <p><strong>Please request a</strong><strong>&nbsp;booking form by emailing:</strong>&nbsp;<a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a></p>
</div>
<div>
{% if page.event %}
<ul class="nolist">
	{% for events in page.event %}
    <li>
    	{% if events.datetext %}<h3>{{ events.datetext }}</h3>{% endif %}
    	{% if events.organiser %}<p><strong>{{ events.organiser }}</strong></p>{% endif %}
      {% if events.description_markdown %}<p>{{ events.description_markdown | markdownify }}</p>{% endif %}

      {% if events.flyer_path  %}<p>Download flyer: <a href="{{ events.flyer_path }}"><svg class="icon icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a></p>{% endif %}
    </li>
    {% endfor %}

    </ul>
{% endif %}
</div>

<div class="editable">
  <p><strong>All masterclasses cost &pound;110 each unless otherwise stated.</strong></p>
  <p>One mindfulness event per annum is free to Trust-approved mindfulness teachers and &pound;30 for subsequent events in the same year.&nbsp; Booking is still required and cancellations must be made two weeks beforehand to avoid cancellation charges.</p>
  <p>If you have any queries email: <a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a>&nbsp;or call 0300 304 2057.<strong> </strong><strong>&nbsp;&nbsp;</strong></p>
</div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>