/*
*	Navigation
*/


.navigation {
    //box-shadow: 0 1px $ochre;
    padding: 0 1em;
    margin: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: $white;
    height: $header-height;
    @include media ($mobile) {
        height: $header-height-mobile;
    }

    @include media ($tablet) {
        height: $header-height-tablet;
    }

}

// Nav menu
.navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
}
.logo { // first col
    display: block;
    text-align: center;
    padding-top: 10px;
    @include media ($mobile) {
        text-align: left;
        @include span-columns(4);
    }
    @include media ($tablet) {

        padding-bottom: 10px;
        @include span-columns(3);
    }
    // when there is no image
    font-family: $heading-font-family;
    font-weight: 400;
    color: $primary-color;
    text-decoration: none;
    //height: 4em;
    span {
        font-size: 2em;
        line-height: 1em;
    }
}

.nav__logo {
    max-width: 220px;
}
.mission {
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    color: $primary-color;
    text-align: center;

    @include media ($mobile) {
        @include span-columns(5);
        padding-top: 4em;
        line-height: 1.2em;
    }
    @include media ($tablet) {
        @include span-columns(5);
        //text-align: left;
        padding-top: 4.5em;
        font-size: 20px;
    }
}
.trust {
    text-align: center;
    @include media ($mobile) {
        @include span-columns(3);
        @include omega();
    }
    @include media ($tablet) {
        text-align: right;
        @include span-columns(4);
        @include omega();
    }
}
.trustlogo {
    max-height: 40px;
    margin-top: 10px;
    @include media ($mobile) {
        width: 254px;
        height: 108px;
        float: right;
        max-height: 4em;
        padding-top: 10px;
        margin-top: 0;
    }
}

/*
*   Navigation Menu - http://refills.bourbon.io/unstyled/ (see "Navigation")
*/
// Mobile view
.navigation-menu-button {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    //float: right;
    margin: 0;
    font-size: 1.5em;
    padding-top: 0.5em;
    padding-right: 0.5em;
    @include media ($mobile) {
        top: 2em;
    }
    @include media ($tablet) {
        display: none;
    }
}
nav {
    float: none;
    //padding-top: 1em;
    @include media ($tablet) {
        //float: right;
        line-height: 1.5em;
    }
}
ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    @include media ($tablet) {
        display: block;
        margin: 0;
        padding: 0;
    }
    &.show {
        display: block;
    }
}
// Nav items
li.nav-link {
    display: block;
    text-align: right;
    width: 100%;
    padding: 0.25em 0;
    background: $white;
    @include media ($tablet) {
        background: transparent;
        display: inline;
        text-decoration: none;
        width: auto;
    }
}


li.nav-link {
    a {
        display: inline-block;
        color: $primary-color;
        transition: all 0.2s ease-in-out;
        @include media ($tablet) {
            border: 1px solid $highlight-color;
            padding: 10px;
            &:hover {
                color: $white;
                text-decoration: none;
                background: darken($primary-color, 10%);
            }
            &.research {
                color: $research;
                &:hover {
                    color: $white;
                    background-color: darken($research, 0%);
                }
            }
            &.outreach {
                color: $outreach;
                 &:hover {
                    color: $white;
                    background-color: darken($outreach, 0%);
                }
            }
            &.train {
                color: $training;
                 &:hover {
                    color: $white;
                    background-color: darken($training, 0%);
                }
            }
            &.practice {
                color: $practice;
                 &:hover {
                    color: $white;
                    background-color: darken($practice, 0%);
                }
            }
        }

    }
    &:last-child a {
        @include media ($tablet) {
            padding-right: 1em;
        }
    }
}

.active a {

    @include media ($tablet) {
        background-color: lighten($primary-color,80%);
    }
}