---
layout: page
title: Mindfulness drop-ins
main_image_path:
main_nav: false
_style: events
_sidebar: events-sidebar.html
_comments:
  title: Edit drop-ins using the Data menu
---

<section class="main-content with-sidebar">

<div class="intro editable">
  <p>All drop-ins are free of charge. The drop-ins at</p>
  <ul>
    <li><strong>Sussex Education Centre</strong>, Nevill Avenue, Hove, BN3 7HZ on the Mill View hospital and Hove Polyclinic site and</li>
    <li><strong>Southdown</strong>, 18 Preston Park Avenue, Brighton BN1 6HL&nbsp;</li>
  </ul>
  <p>are open to anyone who has both completed an 8-week MBCT or MBSR group and who is either a current or ex service user, or current employee of Sussex Partnership.</p>
  <p>The Staff drop ins at Arun house, Swandean, Millview and Brighton General Hospital are for Sussex Partnership staff only and do not require previous mindfulness experience. No booking is required for any drop-in sessions.</p>
</div>
<div class="editable">
  <p>Please bring your own mat, cushion/stool and blanket if possible. Limited numbers of these will be available at the day retreats but there will only be chairs at the drop-ins.</p>
  <p>Please note these sessions are for adults. Drop in sessions for young people are held separately and details of these can be found on the Child and Adolescent page of this website.</p>
</div>
<!-- end editable section -->
<div>
{% for current in site.data.events %}
   <a name="{{ current.name }}"></a><h2>{{ current.name }}</h2>
  {% if current.description_markdown %}
   <p>{{ current.description_markdown | markdownify }}</p>
  {% endif %}
   <ul class="nolist">
      {% for event in current.drop-in %}
          <li>
            {% if event.event_date %}
              {{ event.event_date  | date: "%-d %B" }}<br />
            {% endif %}
            {% if event.organiser %}
              {{ event.organiser }}<br />
            {% endif %}
            {% if event.description_markdown %}
              <p>{{ event.description_markdown | markdownify }}</p>
            {% endif %}
          </li>

      {% endfor %}
   </ul>
{% endfor %}
</div>

</section>

<aside class="sidebar">

  {% include {{ page._sidebar }} %}
</aside>