---
layout: page
title: Mindfulness drop-ins
main_image_path:
main_nav: false
_style: events
_sidebar: events-sidebar.html
_comments:
  title: Edit drop-ins using the Data menu
---

<section class="main-content with-sidebar">

<div class="intro editable">
<p>All drop-ins are free of charge and are open to anyone who has both completed an eight-week MBCT or MBSR group and who is either a current or ex service user, or current employee of Sussex Partnership. If this applies to you, no booking is required.</p>

</div>
<div class="editable">
  <p>Please bring your own mat, cushion/stool and blanket if possible. Limited numbers of these will be available at the day retreats but there will only be chairs at the drop-ins.</p>
  <p>Please note these sessions are for adults. Drop in sessions for young people are held separately and details of these can be found on the Child and Adolescent page of this website.</p>
  <h2><strong>Sussex Education Centre, Hove</strong></h2>
  <p>All drop-in sessions are on the first working Monday of the month from 5pm to 6pm. Below is the list for 2018:</p>
</div>
<div>
  {% for current in site.data.events %}
   <a name="{{ current.location }}"></a><h2>{{ current.location }}</h2>
   <ul class="nolist">
      {% for event in current.eventlist %}
            {% if event.event_date %}
              <li>{{ event.event_date  | date: "%-d %B" }}</li>
            {% endif %}
      {% endfor %}
   </ul>
{% endfor %}


</div>

</section>

<aside class="sidebar">
  {% include {{ page._sidebar }} %}
</aside>