---
layout: page
title: Mindfulness drop-ins
main_image_path:
main_nav: false
_style: events
_sidebar: events-sidebar.html
_comments:
  title: Edit drop-ins using the Data menu
---

<section class="main-content with-sidebar">

<div class="intro editable">
  <h3><strong>Following the Covid-19 outbreak we are looking to offer mindfulness dropins via virtual platforms where possible and will list them here as they become available.</strong></h3>
  <p>All drop-ins are free of charge.&nbsp;</p>
</div>
<div class="editable">
  <p>Please note these sessions are for adults. Drop in sessions for young people are held separately and details of these can be found on the Child and Adolescent page of this website.</p>
</div>
<!-- end editable section -->
<div>
{% for current in site.data.events %}
   <a name="{{ current.name }}"></a><h2>{{ current.name }}</h2>
  {% if current.description_markdown %}
   <p>{{ current.description_markdown | markdownify }}</p>
  {% endif %}
   <ul class="nolist">
      {% for event in current.drop-in %}
          <li>
            {% if event.event_date %}
              {{ event.event_date  | date: "%-d %B" }}<br />
            {% endif %}
            {% if event.organiser %}
              {{ event.organiser }}<br />
            {% endif %}
            {% if event.description_markdown %}
              <p>{{ event.description_markdown | markdownify }}</p>
            {% endif %}
          </li>

      {% endfor %}
   </ul>
{% endfor %}
</div>

</section>

<aside class="sidebar">

  {% include {{ page._sidebar }} %}
</aside>
