---
layout: page
title: Mindfulness in the Workplace
main_image_path: /assets/images/banners/banner-work.jpg
main_image_description:
main_image_credit: >-
  Photo by <a href="https://www.shutterstock.com/g/lanceb" target="new">Lance
  Bellers</a>
style: outreach
sidebar: 
image_quote: I see the way I am now, and the way my life is now, as a testament to the transformative and healing power of mindfulness.
image_quote_author: Helga Dittmar, MBCT course
---

<section class="main-content">
<div class="intro editable">
  <p><img title="outreach icon" class="image--left" src="/assets/outreach-icon.png" /></p>
  <p><strong>Would you like to maximise the efficiency and wellbeing of your&nbsp;</strong><strong>workforce?</strong></p>
  <p>Mindfulness can help reduce sickness and improve staff engagement. Work-related stress is a major problem and the biggest cause of&nbsp; sickness in the UK. The Health and Safety Executive estimates that stress, depression or anxiety, accounts for approximately 12.5 million days per annum lost due to work-related ill health. <strong>We can help&hellip; we can&rsquo;t change the stress but we can change the way you and your staff deal with it, which can only be good for business!</strong></p>
  <p>Taught by professional, experienced teachers, mindfulness is known to build resilience, improve performance, relationships and general wellbeing. So when problems do arise, staff are equipped with the tools and techniques to deal with them.</p>
  <p>We offer bespoke mindfulness training to suit the needs of your business and workforce. To find out more, or to arrange a taster session, please contact us on E:&nbsp;<a href="mailto:smc@sussexpartnership.nhs.uk">smc@sussexpartnership.nhs.uk</a>&nbsp;</p>
  <p>&nbsp;</p>
  <p><strong>Working with the British Safety Council to support wellbing in the workplace</strong></p>
  <p>Sussex Mindfulness Centre is happy to be a partner in <strong>'Being Well Together' </strong>a new health, safety and wellbeing programme from The British Safety Council. The new flexible programme is a one-stop-shop for everything organisations need to adopt, develop and implement a successful health, safety and wellbeing plan. It recognises that every organisation is at different stages of their wellbeing journey by supporting the provision of tailored solutions and where appropriate signposting to partners, such as Sussex Mindfulness Centre.</p>
  <p>Addressing wellbeing in the workplace can help organisations reduce working days lost through sickness, decreases in productivity, presenteeism and risk of accident or injury. It can also improve workplace culture, which will in turn improve overall performance.</p>
  <p>Organisations can sign up to the Being Well Together programme and become a supporter with access to a huge online resource hub, as well as a dedicated support manager to help them navigate the resources and tailor a wellbeing programme best suited for their organisation. Visit <a href="http://www.beingwelltogether.org">www.beingwelltogether.org</a> for more information.</p>
</div>

<div class="buttons widget__centred">

{% for link in site.data.nav %}
  {% if link.title == "In the workplace" %}
    {% for subcategory in link.subcategories %}
      <a href="{{ subcategory.href | prepend: site.baseurl }}" class="button large">{{ subcategory.subtitle }} <svg class="icon icon--readmore icon__white"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>
    {% endfor %}
  {% endif %}
{% endfor %}

</div>

<div class="editable half">
  <h3>Mindfulness groups for staff</h3>
  <p>We have now run around 90 mindfulness groups for staff since 2004 in which well over a thousand people have participated. We have found large and significant improvements in stress, wellbeing, compassion (for self and others) and mindfulness. We know from research elsewhere that such changes are likely to translate into improvements in resilience, flexibility and job satisfaction.</p>
  <p>This is what previous participants have said:</p>
  <blockquote>
    <p>I was cynical (about the course), not sure how it would help, but my mood improved significantly; my mood is a lot better than 6 months ago. I am calmer, less irritable and crying less</p><cite>(comment made in final session)</cite>
  </blockquote>
  <blockquote>
    <p>The stress we are under with targets and pressures, I think this course gave us the tools to deal with these</p><cite>(comment made in final session)</cite>
  </blockquote>
  <blockquote>
    <p>My perception of others and how they might be feeling or why they are acting in a certain manner&hellip;helps me to both accept their ways and make adjustments myself to ensure a harmonious relationship or outcome&rdquo;</p><cite>(6 months after completing the course)</cite>
  </blockquote>
  <blockquote>
    <p>Remembering to bring myself into the moment when I'm feeling overwhelmed. To accept difficulties for what they are and to treat myself with kindness when I need to&rdquo;</p><cite>(12 months after completing the course)</cite>
  </blockquote>
</div>

<div class="editable half">
  <h3>A local manager explains how mindfulness helped him and his staff to manage stress at work</h3>
  <section class="video-wrapper"><iframe src="https://player.vimeo.com/video/286496909" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></section>
</div>

</section>
