---
layout: page
title: Subscribe
main_image_path:
main_nav: false
sidebar: about-sidebar.html
style: team
---

<section class="main-content with-sidebar">

<div class="editable">
  <p>Please join our mailing list if you would like to be kept up-to-date with news &amp; information about training and events from Sussex Mindfulness Centre (SMC). We will send you emails from time to time. We will not pass your details on to anyone outside of Sussex Mindfulness Centre and you can unsubscribe at any time.</p>

</div>

{% include mailchimp-form.html %}

</section>

<aside class="sidebar">
    
    {% include {{ page.sidebar }} %}

</aside>
