---
layout: page
title: Mindfulness drop-ins for young people
main_image_path:
style: practice
main_nav: false
sidebar: practice-sidebar.html
---
<section class="main-content with-sidebar">

<h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>

<div class="intro editable">

</div>

<div class="editable">
<p>Brighton &amp; Hove CAMHS offer monthly Mindfulness Drop-In sessions for young people who have completed a Mindfulness Course with CAMHS. These drop-in sessions offer a space to stay connected to each other and our mindfulness practice.</p>

<h3>See also</h3>
<p>
	<ul>
		<li><a href="{{ site.baseurl }}/practice-and-governance/child-adolescent-services/mindfulness-in-paediatrics/">Mindfulness in paediatrics</a></li>
		<li><a href="{{ site.baseurl }}/practice-and-governance/child-adolescent-services/camhs/">Sussex Mindfulness in CAMHS Special Interest Group (SIG)</a></li>
		<li><a href="{{ site.baseurl }}/practice-and-governance/child-adolescent-services/drop-ins-for-young-people/">Mindfulness drop-ins for young people</a></li>
	</ul>
</p>
</div>

</section>

<aside class="sidebar">
	{% include {{ page.sidebar }} %}
</aside>
