---
layout: default
---

<header id="content-header" class="{% if page.style %}{{ page.style }}{% endif %}">
	<div class="padding10">
		{% include breadcrumbs.html %}

		<h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
	</div>

	{% if page.main_image_path %}
    <div>

      {% include img.html src=page.main_image_path width=1200 alt=page.main_image_description %}

    </div>

	 {% endif %}


</header>

<section id="content" class="{% if page.style %}{{ page.style }}{% endif %}">

<section class="main-content with-sidebar">

	{{ content }}

	{% if page.audio %}

    {% if page.audio[0].audio_path %}

			<ul class="nolist">

      {% for sound in page.audio %}

           {% if sound.audio_path %}

          	<li>{{ sound.description }} <a class="button" href="{{ sound.audio_path }}">&nbsp;<svg class="icon icon--readmore icon__white"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-download_alt" /></svg></a> (MP3)</li>
					{% endif %}


      {% endfor %}

    {% endif %}

  {% endif %}

	</section>

	<aside class="sidebar">
		{% include {{ page.sidebar }} %}
	</aside>
</section>
