// Google Fonts
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);

// Typography
$base-font-family: "Open Sans", "Helvetica Neue", "Helvetica",  "Arial", sans-serif; // $helvetica;
$heading-font-family: "Museo Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; // $base-font-family;

// Font Sizes
$base-font-size: $em-base; // 16px

// Adjust modular scale ratio
$modular-scale-ratio: $minor-third;

// Line height
$base-line-height: 1.8;
$heading-line-height: 1.8;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * $em-base;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$black: #111;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$blue: #2980b9;
$background-grey: #373535;
$white: #fff;

// NHS Colours
$orange: #ff6600;
$yellow: #ffff00;

// Design 1
$orange: #c14028;
$button-color: #fc9228;

// Design 2 - nautilus
$yellow: #fdca56;

$shade1: #f8f6f5;
$shade2: #f5efed;

// logo Colours

$darkblue: #124C82; // outreach and policy - national influence
// rgb: 18,76,130
$midblue: #3675AC; // training - improving access
// rgb: 54,118,172
$lightblue: #76CAF2; // practice and governance - MBI groups
// rgb: 119, 202, 242
$ochre: #CDAB41; // research - what works
// rgb: 205,171,65

$primary-color: $darkblue;
$secondary-color: $midblue;
$tertiary-color: $lightblue;
$highlight-color: $ochre;

$outreach: $darkblue;
$training: $midblue;
$practice: $lightblue;
$research: $ochre;

// Font Colors
$base-background-color: #fff;
$base-font-color: $black;
$action-color: darken($lightblue,10%);
//$highlight-color: tint($action-color, 33%);

// Border
$base-border-color: $ochre;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Screen sizes
$mobile: 640px;
$tablet: 960px;

$max-width: rem(1200);
$medium-screen: $mobile;
$large-screen: $tablet;