---
layout: page
section: research
title: Can mindfulness be learned by people experiencing depression and anxiety?
main_image_path:
style: research
main_nav: false
sidebar: research-sidebar.html
---
<section class="main-content with-sidebar">
	<h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
	<div class="intro editable">


	</div>
	<div class="editable">


	<p>There are a number of reasons why mindfulness-based interventions (MBIs) might be challenging for people currently experiencing clinical levels of anxiety and depression. Firstly, the unpleasant content of thoughts and feelings might make it difficult for people to engage in mindfulness meditation practice as they become more aware of these unpleasant experiences. Secondly, the tendency towards rumination (common in depression) and worry (common in anxiety) might make focusing on the present moment very challenging and people might find it difficult to remain engaged with mindfulness practice. Thirdly, MBIs typically involve extended daily mindfulness practices at home and the low motivation often associated with depression might be a barrier to home practice.</p>

	<p>Lizzie Clark is a University of Sussex PhD student jointly funded by the Economic and Social Research Council (ESRC) and Sussex Partnership. Lizzie is investigating if people with current depression and anxiety can learn mindfulness. For her PhD she has completed a meta-analysis which shows, despite the cautions outlined above, that people diagnosed with a current episode of a depressive or anxiety disorder can learn mindfulness. She is currently working with trust mindfulness teachers to develop a brief MBI (4 sessions) specifically for adults receiving secondary mental health care with the intervention designed to address the issues outlined above. Lizzie is planning to run a feasibility study of the brief MBI in Sussex Partnership secondary care services towards the end of 2014.</p>

		</div>
</section>

<aside class="sidebar">

		{% include {{ page.sidebar }} %}

</aside>